#top-nav-bar {
  background-color: #2D3E50;
  padding: 20px;
}

#title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
/*  margin: 0px;*/
  padding-right: 900px;
  float: left;
}

.right {
}

#home {
  color: white;
  float: left;
  margin-right: 20px;
}

#tour {
  color: #1F8DD6;
  float: left;
}

#sign-up {
  color: #1F8DD6;
  float: left;
}